{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "GitHub Organizer",
        "description": "Manage repo issues and comments in your GitHub account."
    },
    "host": "api.github.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "access_token": {
            "name": "access_token",
            "type": "apiKey",
            "in": "query"
        }
    },
    "paths": {
        "/repos/{owner}/{repo}/issues/{number}/comments": {
            "parameters": [
                {
                    "name": "owner",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "repo",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "number",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "operationId": "POST_repos-owner-repo-issues-number-comments",
                "summary": "Create Comment",
                "tags": [
                    "Repos"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "body": {
                                    "type": "string"
                                }
                            },
                            "example": {
                                "body": "Me too"
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "url": {
                                    "type": "string"
                                },
                                "html_url": {
                                    "type": "string"
                                },
                                "body": {
                                    "type": "string"
                                },
                                "user": {
                                    "type": "object",
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "followers_url": {
                                            "type": "string"
                                        },
                                        "following_url": {
                                            "type": "string"
                                        },
                                        "gists_url": {
                                            "type": "string"
                                        },
                                        "starred_url": {
                                            "type": "string"
                                        },
                                        "subscriptions_url": {
                                            "type": "string"
                                        },
                                        "organizations_url": {
                                            "type": "string"
                                        },
                                        "repos_url": {
                                            "type": "string"
                                        },
                                        "events_url": {
                                            "type": "string"
                                        },
                                        "received_events_url": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "site_admin": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "updated_at": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Body should be a JSON object"
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Bad credentials",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Maximum number of login attempts exceeded. Please try again later.",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "resource": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string"
                                            },
                                            "code": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            },
            "get": {
                "operationId": "GET_repos-owner-repo-issues-number-comments",
                "summary": "Get Issue Comments",
                "tags": [
                    "Repos"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "url": {
                                        "type": "string"
                                    },
                                    "html_url": {
                                        "type": "string"
                                    },
                                    "body": {
                                        "type": "string"
                                    },
                                    "user": {
                                        "type": "object",
                                        "properties": {
                                            "login": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "avatar_url": {
                                                "type": "string"
                                            },
                                            "gravatar_id": {
                                                "type": "string"
                                            },
                                            "url": {
                                                "type": "string"
                                            },
                                            "html_url": {
                                                "type": "string"
                                            },
                                            "followers_url": {
                                                "type": "string"
                                            },
                                            "following_url": {
                                                "type": "string"
                                            },
                                            "gists_url": {
                                                "type": "string"
                                            },
                                            "starred_url": {
                                                "type": "string"
                                            },
                                            "subscriptions_url": {
                                                "type": "string"
                                            },
                                            "organizations_url": {
                                                "type": "string"
                                            },
                                            "repos_url": {
                                                "type": "string"
                                            },
                                            "events_url": {
                                                "type": "string"
                                            },
                                            "received_events_url": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "site_admin": {
                                                "type": "boolean"
                                            }
                                        }
                                    },
                                    "created_at": {
                                        "type": "string"
                                    },
                                    "updated_at": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Body should be a JSON object"
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Bad credentials",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Maximum number of login attempts exceeded. Please try again later.",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "resource": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string"
                                            },
                                            "code": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            }
        },
        "/repos/{owner}/{repo}/issues": {
            "parameters": [
                {
                    "name": "owner",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "repo",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_repos-owner-repo-issues",
                "summary": "Get Repo Issues",
                "tags": [
                    "Repos"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "url": {
                                        "type": "string"
                                    },
                                    "repository_url": {
                                        "type": "string"
                                    },
                                    "labels_url": {
                                        "type": "string"
                                    },
                                    "comments_url": {
                                        "type": "string"
                                    },
                                    "events_url": {
                                        "type": "string"
                                    },
                                    "html_url": {
                                        "type": "string"
                                    },
                                    "number": {
                                        "type": "integer"
                                    },
                                    "state": {
                                        "type": "string"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "body": {
                                        "type": "string"
                                    },
                                    "user": {
                                        "type": "object",
                                        "properties": {
                                            "login": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "avatar_url": {
                                                "type": "string"
                                            },
                                            "gravatar_id": {
                                                "type": "string"
                                            },
                                            "url": {
                                                "type": "string"
                                            },
                                            "html_url": {
                                                "type": "string"
                                            },
                                            "followers_url": {
                                                "type": "string"
                                            },
                                            "following_url": {
                                                "type": "string"
                                            },
                                            "gists_url": {
                                                "type": "string"
                                            },
                                            "starred_url": {
                                                "type": "string"
                                            },
                                            "subscriptions_url": {
                                                "type": "string"
                                            },
                                            "organizations_url": {
                                                "type": "string"
                                            },
                                            "repos_url": {
                                                "type": "string"
                                            },
                                            "events_url": {
                                                "type": "string"
                                            },
                                            "received_events_url": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "site_admin": {
                                                "type": "boolean"
                                            }
                                        }
                                    },
                                    "labels": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "url": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "color": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "assignee": {
                                        "type": "object",
                                        "properties": {
                                            "login": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "avatar_url": {
                                                "type": "string"
                                            },
                                            "gravatar_id": {
                                                "type": "string"
                                            },
                                            "url": {
                                                "type": "string"
                                            },
                                            "html_url": {
                                                "type": "string"
                                            },
                                            "followers_url": {
                                                "type": "string"
                                            },
                                            "following_url": {
                                                "type": "string"
                                            },
                                            "gists_url": {
                                                "type": "string"
                                            },
                                            "starred_url": {
                                                "type": "string"
                                            },
                                            "subscriptions_url": {
                                                "type": "string"
                                            },
                                            "organizations_url": {
                                                "type": "string"
                                            },
                                            "repos_url": {
                                                "type": "string"
                                            },
                                            "events_url": {
                                                "type": "string"
                                            },
                                            "received_events_url": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "site_admin": {
                                                "type": "boolean"
                                            }
                                        }
                                    },
                                    "milestone": {
                                        "type": "object",
                                        "properties": {
                                            "url": {
                                                "type": "string"
                                            },
                                            "html_url": {
                                                "type": "string"
                                            },
                                            "labels_url": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "number": {
                                                "type": "integer"
                                            },
                                            "state": {
                                                "type": "string"
                                            },
                                            "title": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "creator": {
                                                "type": "object",
                                                "properties": {
                                                    "login": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "avatar_url": {
                                                        "type": "string"
                                                    },
                                                    "gravatar_id": {
                                                        "type": "string"
                                                    },
                                                    "url": {
                                                        "type": "string"
                                                    },
                                                    "html_url": {
                                                        "type": "string"
                                                    },
                                                    "followers_url": {
                                                        "type": "string"
                                                    },
                                                    "following_url": {
                                                        "type": "string"
                                                    },
                                                    "gists_url": {
                                                        "type": "string"
                                                    },
                                                    "starred_url": {
                                                        "type": "string"
                                                    },
                                                    "subscriptions_url": {
                                                        "type": "string"
                                                    },
                                                    "organizations_url": {
                                                        "type": "string"
                                                    },
                                                    "repos_url": {
                                                        "type": "string"
                                                    },
                                                    "events_url": {
                                                        "type": "string"
                                                    },
                                                    "received_events_url": {
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "site_admin": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            },
                                            "open_issues": {
                                                "type": "integer"
                                            },
                                            "closed_issues": {
                                                "type": "integer"
                                            },
                                            "created_at": {
                                                "type": "string"
                                            },
                                            "updated_at": {
                                                "type": "string"
                                            },
                                            "closed_at": {
                                                "type": "string"
                                            },
                                            "due_on": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "locked": {
                                        "type": "boolean"
                                    },
                                    "comments": {
                                        "type": "integer"
                                    },
                                    "pull_request": {
                                        "type": "object",
                                        "properties": {
                                            "url": {
                                                "type": "string"
                                            },
                                            "html_url": {
                                                "type": "string"
                                            },
                                            "diff_url": {
                                                "type": "string"
                                            },
                                            "patch_url": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "closed_at": {
                                        "type": "null"
                                    },
                                    "created_at": {
                                        "type": "string"
                                    },
                                    "updated_at": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Body should be a JSON object"
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Bad credentials",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Maximum number of login attempts exceeded. Please try again later.",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "resource": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string"
                                            },
                                            "code": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            },
            "post": {
                "operationId": "POST_repos-owner-repo-issues",
                "summary": "Create Issue",
                "tags": [
                    "Repos"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "title": {
                                    "type": "string"
                                },
                                "body": {
                                    "type": "string"
                                },
                                "milestone": {
                                    "type": "integer"
                                },
                                "labels": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "required": [
                                "title",
                                "body"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "url": {
                                    "type": "string"
                                },
                                "repository_url": {
                                    "type": "string"
                                },
                                "labels_url": {
                                    "type": "string"
                                },
                                "comments_url": {
                                    "type": "string"
                                },
                                "events_url": {
                                    "type": "string"
                                },
                                "html_url": {
                                    "type": "string"
                                },
                                "number": {
                                    "type": "integer"
                                },
                                "state": {
                                    "type": "string"
                                },
                                "title": {
                                    "type": "string"
                                },
                                "body": {
                                    "type": "string"
                                },
                                "user": {
                                    "type": "object",
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "followers_url": {
                                            "type": "string"
                                        },
                                        "following_url": {
                                            "type": "string"
                                        },
                                        "gists_url": {
                                            "type": "string"
                                        },
                                        "starred_url": {
                                            "type": "string"
                                        },
                                        "subscriptions_url": {
                                            "type": "string"
                                        },
                                        "organizations_url": {
                                            "type": "string"
                                        },
                                        "repos_url": {
                                            "type": "string"
                                        },
                                        "events_url": {
                                            "type": "string"
                                        },
                                        "received_events_url": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "site_admin": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "labels": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "url": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "color": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "assignee": {
                                    "type": "object",
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "followers_url": {
                                            "type": "string"
                                        },
                                        "following_url": {
                                            "type": "string"
                                        },
                                        "gists_url": {
                                            "type": "string"
                                        },
                                        "starred_url": {
                                            "type": "string"
                                        },
                                        "subscriptions_url": {
                                            "type": "string"
                                        },
                                        "organizations_url": {
                                            "type": "string"
                                        },
                                        "repos_url": {
                                            "type": "string"
                                        },
                                        "events_url": {
                                            "type": "string"
                                        },
                                        "received_events_url": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "site_admin": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "milestone": {
                                    "type": "object",
                                    "properties": {
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "labels_url": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "number": {
                                            "type": "integer"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "creator": {
                                            "type": "object",
                                            "properties": {
                                                "login": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "avatar_url": {
                                                    "type": "string"
                                                },
                                                "gravatar_id": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "followers_url": {
                                                    "type": "string"
                                                },
                                                "following_url": {
                                                    "type": "string"
                                                },
                                                "gists_url": {
                                                    "type": "string"
                                                },
                                                "starred_url": {
                                                    "type": "string"
                                                },
                                                "subscriptions_url": {
                                                    "type": "string"
                                                },
                                                "organizations_url": {
                                                    "type": "string"
                                                },
                                                "repos_url": {
                                                    "type": "string"
                                                },
                                                "events_url": {
                                                    "type": "string"
                                                },
                                                "received_events_url": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "site_admin": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "open_issues": {
                                            "type": "integer"
                                        },
                                        "closed_issues": {
                                            "type": "integer"
                                        },
                                        "created_at": {
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "type": "string"
                                        },
                                        "closed_at": {
                                            "type": "string"
                                        },
                                        "due_on": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "locked": {
                                    "type": "boolean"
                                },
                                "comments": {
                                    "type": "integer"
                                },
                                "pull_request": {
                                    "type": "object",
                                    "properties": {
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "diff_url": {
                                            "type": "string"
                                        },
                                        "patch_url": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "closed_at": {
                                    "type": "null"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "updated_at": {
                                    "type": "string"
                                },
                                "closed_by": {
                                    "type": "object",
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "followers_url": {
                                            "type": "string"
                                        },
                                        "following_url": {
                                            "type": "string"
                                        },
                                        "gists_url": {
                                            "type": "string"
                                        },
                                        "starred_url": {
                                            "type": "string"
                                        },
                                        "subscriptions_url": {
                                            "type": "string"
                                        },
                                        "organizations_url": {
                                            "type": "string"
                                        },
                                        "repos_url": {
                                            "type": "string"
                                        },
                                        "events_url": {
                                            "type": "string"
                                        },
                                        "received_events_url": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "site_admin": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Body should be a JSON object"
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Bad credentials",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Maximum number of login attempts exceeded. Please try again later.",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "resource": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string"
                                            },
                                            "code": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            }
        },
        "/repos/{owner}/{repo}/issues/{number}": {
            "parameters": [
                {
                    "name": "owner",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "repo",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "number",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "patch": {
                "operationId": "PATCH_repos-owner-repo-issues-number",
                "summary": "Edit Issue",
                "tags": [
                    "Repos"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "title": {
                                    "type": "string"
                                },
                                "body": {
                                    "type": "string"
                                },
                                "milestone": {
                                    "type": "integer"
                                },
                                "state": {
                                    "type": "string"
                                },
                                "labels": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "url": {
                                    "type": "string"
                                },
                                "repository_url": {
                                    "type": "string"
                                },
                                "labels_url": {
                                    "type": "string"
                                },
                                "comments_url": {
                                    "type": "string"
                                },
                                "events_url": {
                                    "type": "string"
                                },
                                "html_url": {
                                    "type": "string"
                                },
                                "number": {
                                    "type": "integer"
                                },
                                "state": {
                                    "type": "string"
                                },
                                "title": {
                                    "type": "string"
                                },
                                "body": {
                                    "type": "string"
                                },
                                "user": {
                                    "type": "object",
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "followers_url": {
                                            "type": "string"
                                        },
                                        "following_url": {
                                            "type": "string"
                                        },
                                        "gists_url": {
                                            "type": "string"
                                        },
                                        "starred_url": {
                                            "type": "string"
                                        },
                                        "subscriptions_url": {
                                            "type": "string"
                                        },
                                        "organizations_url": {
                                            "type": "string"
                                        },
                                        "repos_url": {
                                            "type": "string"
                                        },
                                        "events_url": {
                                            "type": "string"
                                        },
                                        "received_events_url": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "site_admin": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "labels": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "url": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "color": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "assignee": {
                                    "type": "object",
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "followers_url": {
                                            "type": "string"
                                        },
                                        "following_url": {
                                            "type": "string"
                                        },
                                        "gists_url": {
                                            "type": "string"
                                        },
                                        "starred_url": {
                                            "type": "string"
                                        },
                                        "subscriptions_url": {
                                            "type": "string"
                                        },
                                        "organizations_url": {
                                            "type": "string"
                                        },
                                        "repos_url": {
                                            "type": "string"
                                        },
                                        "events_url": {
                                            "type": "string"
                                        },
                                        "received_events_url": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "site_admin": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "milestone": {
                                    "type": "object",
                                    "properties": {
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "labels_url": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "number": {
                                            "type": "integer"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "title": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "creator": {
                                            "type": "object",
                                            "properties": {
                                                "login": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "avatar_url": {
                                                    "type": "string"
                                                },
                                                "gravatar_id": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "html_url": {
                                                    "type": "string"
                                                },
                                                "followers_url": {
                                                    "type": "string"
                                                },
                                                "following_url": {
                                                    "type": "string"
                                                },
                                                "gists_url": {
                                                    "type": "string"
                                                },
                                                "starred_url": {
                                                    "type": "string"
                                                },
                                                "subscriptions_url": {
                                                    "type": "string"
                                                },
                                                "organizations_url": {
                                                    "type": "string"
                                                },
                                                "repos_url": {
                                                    "type": "string"
                                                },
                                                "events_url": {
                                                    "type": "string"
                                                },
                                                "received_events_url": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "site_admin": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "open_issues": {
                                            "type": "integer"
                                        },
                                        "closed_issues": {
                                            "type": "integer"
                                        },
                                        "created_at": {
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "type": "string"
                                        },
                                        "closed_at": {
                                            "type": "string"
                                        },
                                        "due_on": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "locked": {
                                    "type": "boolean"
                                },
                                "comments": {
                                    "type": "integer"
                                },
                                "pull_request": {
                                    "type": "object",
                                    "properties": {
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "diff_url": {
                                            "type": "string"
                                        },
                                        "patch_url": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "closed_at": {
                                    "type": "null"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "updated_at": {
                                    "type": "string"
                                },
                                "closed_by": {
                                    "type": "object",
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "followers_url": {
                                            "type": "string"
                                        },
                                        "following_url": {
                                            "type": "string"
                                        },
                                        "gists_url": {
                                            "type": "string"
                                        },
                                        "starred_url": {
                                            "type": "string"
                                        },
                                        "subscriptions_url": {
                                            "type": "string"
                                        },
                                        "organizations_url": {
                                            "type": "string"
                                        },
                                        "repos_url": {
                                            "type": "string"
                                        },
                                        "events_url": {
                                            "type": "string"
                                        },
                                        "received_events_url": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "site_admin": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Body should be a JSON object"
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Bad credentials",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Maximum number of login attempts exceeded. Please try again later.",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "resource": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string"
                                            },
                                            "code": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            }
        },
        "/repos/{owner}/{repo}/issues/comments/{id}": {
            "parameters": [
                {
                    "name": "owner",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "repo",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "patch": {
                "operationId": "PATCH_repos-owner-repo-issues-comments-id",
                "summary": "Edit Comment",
                "tags": [
                    "Repos"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "body": {
                                    "type": "string"
                                }
                            },
                            "example": {
                                "body": "Me too"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "url": {
                                    "type": "string"
                                },
                                "html_url": {
                                    "type": "string"
                                },
                                "body": {
                                    "type": "string"
                                },
                                "user": {
                                    "type": "object",
                                    "properties": {
                                        "login": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "avatar_url": {
                                            "type": "string"
                                        },
                                        "gravatar_id": {
                                            "type": "string"
                                        },
                                        "url": {
                                            "type": "string"
                                        },
                                        "html_url": {
                                            "type": "string"
                                        },
                                        "followers_url": {
                                            "type": "string"
                                        },
                                        "following_url": {
                                            "type": "string"
                                        },
                                        "gists_url": {
                                            "type": "string"
                                        },
                                        "starred_url": {
                                            "type": "string"
                                        },
                                        "subscriptions_url": {
                                            "type": "string"
                                        },
                                        "organizations_url": {
                                            "type": "string"
                                        },
                                        "repos_url": {
                                            "type": "string"
                                        },
                                        "events_url": {
                                            "type": "string"
                                        },
                                        "received_events_url": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "site_admin": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "updated_at": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Body should be a JSON object"
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Bad credentials",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Maximum number of login attempts exceeded. Please try again later.",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "resource": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string"
                                            },
                                            "code": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "access_token": []
                    }
                ]
            },
            "delete": {
                "operationId": "DELETE_repos-owner-repo-issues-comments-id",
                "summary": "Delete Comment",
                "tags": [
                    "Repos"
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Body should be a JSON object"
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string"
                                },
                                "documentation_url": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "message": "Bad credentials",
                                "documentation_url": "https://developer.github.com/v3"
                            }
                        }
                    },
[...]
